{% extends "layout.html" %}


{% block main %}
    <div class="about-style">
        <h2>Youtube Word Searcher</h2>
        <ul>
            <p> A Word searcher that looks for the specific time a word is spelled in a video. When clicking in the timeline with the name of the searched word your will see when that word was spoken</p>
        </ul>

        <h4>Search Behavior</h4>
        <ul>
            <p>From left to right all words are searched, the default result is the videos where all words occurs, except if one 'special' char is before this word. This version has all youtube videos from: Harvard, Stanford, Princeton, M.I.T and Yale channels</p>
        </ul>

        <h4>Special chars</h4>
        <ul>
            <li> '&' - Concatenate the answer, every word starting with an '&' will have all their results added to the list</li>
            <li> '-' - Remove from answer, every word starting with an & will have all the videos with this word removed from list</li>
        </ul>

        <div class="signature">
            <h6>Jefferson Lopes de Sousa</h6>
            <h8>More about me on:</h8>
            <ul>
                <li>
                    Github: https://www.github.com/jeffersonpp
                </li>
                <li>
                    Linkedin: https://www.linkedin.com/in/jefferson-lopes-de-sousa-432a576b
                </li>
                <li>
                    E-mail: jeffersonpp@gmail.com
                </li>
            </ul>
        </div>
    </div>

{% endblock %}